In [19]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
quar_name = 'quarantine.csv'
folder_path = r'..\covid-19'
quar_path = os.path.join(folder_path, quar_name)

In [37]:
df_qrt = pd.read_csv(quar_path)
df_qrt['Fecha'] = pd.to_datetime(df_qrt['Fecha'])
df_qrt.sort_values(by='Fecha', inplace=True)
df_qrt

                 Comuna      Fecha Estado Nivel
9          Lo Barnechea 2020-03-24     in  full
3         Independencia 2020-03-24     in  full
4              Santiago 2020-03-24     in  full
5           Providencia 2020-03-24     in  full
6                 Ñuñoa 2020-03-24     in  full
7            Las Condes 2020-03-24     in  full
8              Vitacura 2020-03-24     in  full
10        Independencia 2020-03-31    out  full
17          Puente Alto 2020-04-07     in  half
15                Ñuñoa 2020-04-07    out  half
11         Lo Barnechea 2020-04-07    out  full
12             Vitacura 2020-04-07    out  full
13          Providencia 2020-04-07    out  full
14             Santiago 2020-04-07    out  half
16           Las Condes 2020-04-14    out  full
19         San Bernardo 2020-04-14     in  full
18            El Bosque 2020-04-14     in  full
2         Independencia 2020-04-21     in  half
1         Quinta Normal 2020-04-21     in  full
0   Pedro Aguirre Cerda 2020-04-21     in  full

In [38]:
in_cnd = (df_qrt['Estado'] == 'in') & (df_qrt['Nivel'] == 'full')
dt_cnd =  df_qrt['Fecha'] > pd.to_datetime('2020-04-12')
df_qrt_in = df_qrt[in_cnd & dt_cnd]

gdf_in = df_qrt_in.groupby('Fecha')

for grp, df in gdf_in:
    display(df)

          Comuna      Fecha Estado Nivel
19  San Bernardo 2020-04-14     in  full
18     El Bosque 2020-04-14     in  full

                Comuna      Fecha Estado Nivel
1        Quinta Normal 2020-04-21     in  full
0  Pedro Aguirre Cerda 2020-04-21     in  full